:root {
  --background-color: #ffffff;
  --iris: #4d5ae5;
  --first-site: #2e2f42;
  --adress-var: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
}

.first_logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.second_logo {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.list {
  list-style: none;
}
.first_site {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-site);
  text-decoration: none;
}
/* #404bbf */

.first_site:hover {
  color: #404bbf;
}
.first_site:focus {
  color: #404bbf;
}
.adress {
  font-style: normal;
}
.adres_link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(adress-var);
  text-decoration: none;
}
.adres_link:hover {
  color: #404bbf;
}
.adres_link:focus {
  color: #404bbf;
}
