:root {
  -moz-background-clip: var(--#fff);
}
body {
  font-family: "Raleway", sans-serif;

  color: #434455;
  background-color: var(--#fff);
}

.header_class {
  font-family: "Roboto", sans-serif;
}

.link_cancel {
  text-decoration: none;
}

.first_logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.second_logo {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
